<a href="../menu.php">Menu</a>
<center>
    <h1>Cadastro de Categoria</h1>
    <form action="index.php" method="POST">

        <label for="id">Id:</label>
        <input type="text" name="id" id="id" readonly value="{id}">
    
        <label for="descricao">Descrição:</label>
        <input type="text" name="descricao" id="descricao" value="{descricao}">
    
        <button type='submit' name='acao' value='salvar'>Salvar</button>
        <button type='submit' name='acao' value='excluir'>Excluir</button>
        <button type='reset'>Cancelar</button>
    </form>
    </center>