<hr>
<center>
<h1>Lista de Livros</h1>
<form action="" method="get">
    <fieldset>
        <legend>Pesquisa</legend>
        <label for="busca">Busca:</label>
        <input type="text" name="busca" id="busca" value="">
        <label for="tipo">Tipo:</label>
        <select name="tipo" id="tipo">
            <option value="1">Id</option>
            <option value="2">Titulo</option>
            <option value="3">Ano de Publicação</option>
            <option value="4">Categoria</option>
            <option value="5">Preço</option>
        </select>
        <button type='submit'>Buscar</button>
    </fieldset>
</form>
<table border=1 >
    <tr>
        <th>Id</th>
        <th>Titulo</th>
        <th>Ano de Publicação</th>
        <th>Categoria</th>
        <th>Preço</th>
    </tr>
    {itens}
</table>
</html>